* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #374000;
  letter-spacing: 2px;
}

nav {
  display: flex;
  align-items: center;
  margin-top: 2vh;
  margin-right: 5vh;
  margin-left: 5vh;
  height: 20vh;
  font-size: 30px;
  font-weight: bold;
}

.logo {
  flex: 2;
  cursor: pointer;
}

.logoImg {
  height: 20vh;
}

.navItems {
  flex: 4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 15px;
}

#alugue {
  background-color: #f2e205;
  border-radius: 50px;
  text-shadow: none;
}

#airbnb {
  height: 65px;
  width: 65px;
  cursor: pointer;
}

.burger img{
  height: 7.5vh;
  display: none;
  cursor: pointer;
}

.burger{
  position: absolute;
  top: 10vh;
  right: 5vh;
}

main {
  margin-top: 6vh;
  margin-right: 7vh;
  margin-left: 7vh;
  height: 60vh;
  display: flex;
  align-items: center;
}

.text {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.text p {
  margin-top: 5vh;
  letter-spacing: 5px;
}

.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 50px;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

.stay{
  border: none;
  background-color: #f2e205;
  border-radius: 25px;
  width: 75%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 22.5px;
  cursor: pointer;
  opacity: 0;
}

.img {
  flex: 1;
}

#beachImg {
  max-height: 500px;
  max-width: 500px;
}

@media only screen and (max-width: 1145px) {
  .ml7 {
    font-size: 40px;
  }
  #beachImg {
    max-height: 400px;
    max-width: 400px;
  }
}

@media only screen and (max-width: 930px) {
  .ml7 {
    font-size: 35px;
  }
  #beachImg {
    max-height: 375px;
    max-width: 375px;
  }
}

@media only screen and (max-width: 980px) {
  .logo{
    margin-left: -2vh;
  }
}
@media only screen and (max-width: 910px) {
  .logo{
    margin-left: -4vh;
  }
}

@media only screen and (max-width: 860px) {
  .logo{
    margin-left: -6vh;
  }
}

@keyframes navItemsMobile{
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 825px) {
  .ml7 {
    font-size: 30px;
  }
  #beachImg {
    max-height: 325px;
    max-width: 325px;
  }
  .navItems{
    transform: translateY(-250%);
  }

  .navItemsMobile{
    transform: translateY(0);
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 40vh;
    z-index: 1;
    flex-direction: column;
    background-color: #ffffff;
    animation: navItemsMobile 1s;
  }

  .burger img {
    display: inline;
    z-index: 11;
  }
  .burger{
    z-index: 11;
  }
}

@media only screen and (max-width: 740px) {
  .ml7 {
    font-size: 25px;
  }
  #beachImg {
    max-height: 300px;
    max-width: 300px;
  }
}

@media only screen and (max-width: 700px) {
  .ml7 {
    font-size: 50px;
    margin-top: 6vh;
  }
  .img {
    margin-top: 7.5vh;
  }
  #beachImg {
    max-height: 400px;
    max-width: 400px;
  }
  main {
    flex-direction: column;
  }
}
@media only screen and (max-width: 580px) {
  .ml7 {
    font-size: 45px;
  }
  #beachImg {
    max-height: 300px;
    max-width: 300px;
  }
}
@media only screen and (max-width: 530px) {
  .ml7 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 490px) {
  .ml7 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 440px) {
  .ml7 {
    font-size: 25px;
  }
  .stay{
    font-size: 19px;
  }
}

@media only screen and (max-width: 395px) {
  .ml7 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 335px) {
  .ml7 {
    font-size: 20px;
  }
  #beachImg {
    max-height: 250px;
    max-width: 250px;
  }
}

@media only screen and (max-width: 300px) {
  .ml7 {
    font-size: 15px;
  }
  #beachImg {
    max-height: 200px;
    max-width: 200px;
  }
}
